﻿
@{
    ViewBag.Title = "Prijava";
}

<style>
    div.a {
        color: red
    }

    h2 {
        text-align: center
    }

    form {
        text-align: center
    }

    div {
        margin: auto;
        text-align: center
    }

    input {
        position: center;
        margin: auto;
    }

    table {
        position: center
    }

    p.ime {
        margin-right: 80px
    }

    p.lozinka {
        margin-right: 125px
    }

    p.unutra {
        margin-left: 25px
    }

    div.okvir {
        text-align: center;
        border-width: thin;
        width: 25%;
        margin: auto;
        border-style: solid;
        border-color: black;
    }
</style>

<h2>Prijava</h2>
<br />
<div class="okvir">
    <form action="~/Autentifikacija/Prijava" method="post">
        @*   <table>
            <tr>
                <td>Korisnicko ime:</td>
            <td><input type="text" name="korisnickoIme" /></td>
                </tr>
                <tr>
                    <td>Lozinka: </td>
                    <td><input type="password" name="lozinka" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Prijavite se" />
                    </td>
                </tr>
                </table>*@
        <br />
        <p class="ime">
            <b>
                Koricnicko ime:
            </b>
        </p><input type="text" name="korisnickoIme" />

        <p class="lozinka">
            <b>
                Lozinka:
            </b>
        </p>
        <input type="password" name="lozinka" /> <br /><br />
        <input type="submit" value="Prijavite se" />


    </form>
    <div class="a">
        @ViewBag.Message
    </div><br /><br />
    <h5><b>NOVI KORISNIK?</b></h5>
    <form action="~/Autentifikacija/Registracija">
        <input type="submit" value="Registrujte se" data-toggle="modal" />
    </form> <br />
</div>
<hr />