﻿@using Projekat.Models
@{
    ViewBag.Title = "Registracija";
}

<h2>Registracija</h2>

<style>
    div.a {
        color: red
    }
</style>

<br />
<div class="a">
    @ViewBag.Message
</div>

<form action="Registracija" method="post">
    <table>
        <tr>
            <td>Korisnicko ime: </td>
            <td><input type="text" name="korisnickoIme" minlength="3" size="15" /></td>
        </tr>
        <tr>
            <td>Lozinka: </td>
            <td><input type="password" name="lozinka" minlength="8" size="15" /></td>
        </tr>
        <tr>
            <td>Ime: </td>
            <td><input type="text" name="ime" size="15" /></td>
        </tr>
        <tr>
            <td>Prezime: </td>
            <td><input type="text" name="prezime" size="15" /></td>
        </tr>
        <tr>
            <td>Pol: </td>
            <td>
                <input list="polovi" name="pol" size="15" />
            </td>
            <datalist id="polovi">
                <option value="Muski"></option>
                <option value="Zenski"></option>
            </datalist>
        </tr>
        <tr>
            <td>Datum rodjenja: </td>
            <td><input type="date" name="datumRodjenja" size="14" /></td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <br />
                <input type="submit" value="Registruj se" size="15" />
            </td>
        </tr>
    </table>
</form>