﻿@using Projekat.Models
@{
    ViewBag.Title = "Index";
}
<style>
    table {
        width: 80%;
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    th, td {
        text-align: center;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #EBEDF0;
    }

    caption.a {
        text-align: center;
        font-size: x-large
    }

    form.a {
        margin-left: 25.3cm
    }
</style>

<br />
<form action="~/Kupac/Index" class="a">
    <input type="submit" value="Vratite se nazad" size="6" />
</form>

@*---------------------------Ponisti pretragu--------------------------------------------------*@
<form action="~/Korpa/Index">
    <input type="submit" value="Ponisti akciju" size="10" />
</form>

@*---------------------------------------------------------------*@
@*----------------------Pretraga-------------------*@
<div class="pretraga">
    <form action="/Korpa/PretragaKarata">

        <caption>Pretraga</caption>
        <input list="pretraga" name="pretraga" required size="6" />
        <datalist id="pretraga">
            <option value="Naziv_manifestacije"></option>
        </datalist>
        <caption>Vrijednost</caption>
        <input type="text" name="vrijednost" required size="6" />
        <input type="submit" value="Pretrazi" size="6" />

    </form>
</div>
@*---------------------------------------------------------------*@

@*-----------------Pretraga po cijeni-------------------------*@
<div class="pretraga1">
    <form action="/Korpa/PretragaPoCijeni">

        <caption>Pretraga po cijeni: </caption>

       
        <input type="number" min="0" name="minCijena" required size="6" />
        <caption> - </caption>
        <input type="number" name="maxCijena" min="0" required size="6" />
        <input type="submit" value="Pretrazi" size="6" />

    </form>
    <div class="a">
        @ViewBag.Message
    </div>
</div>
@*---------------------------------------------------------------*@
@*-----------------Pretraga po datumu-------------------------*@
<div class="pretraga1">
    <form action="/Korpa/PretragaPoDatumu">

        <caption>Pretraga po datumu: </caption>

       
        <input type="date"  name="minDatum" required size="6" />
        <caption> - </caption>
        <input type="date" name="maxDatum" required size="6" />
        <input type="submit" value="Pretrazi" size="6" />

    </form>
    <div class="a">
        @ViewBag.Message
    </div>
</div>
@*---------------------------------------------------------------*@

@*---------Sortiranje---------------------*@
<br />
<br />
<form action="/Korpa/SortiranjeKarata">
    <p align="right">
        Sortiraj po:
        <input list="sortiranje" name="sortiranje" required size="6" />
        <datalist id="sortiranje">
            <option value="Naziv_manifestacije"></option>
            <option value="Cijena"></option>
            <option value="Datum_odrzavanja"></option>
        </datalist>

        <input list="nacin" name="nacin" size="6" required />
        <datalist id="nacin">
            <option value="Opadajuce"></option>
            <option value="Rastuce"></option>
        </datalist>

        <input type="submit" value="Sortiraj" size="6" />
    </p>
</form>
<br />
@*----------------------Filtriranje-------------------*@
<div class="pretraga">
    <form action="/Korpa/FiltriranjeKarata">
        <p align="left">
            Filtrirajte po : <input list="filter" name="filter" required size="6" />
                             <datalist id="filter">
                                 <option value="VIP"></option>
                                 <option value="REGULAR"></option>
                                 <option value="FAN_PIT"></option>
                                 <option value="Rezervisana"></option>
                                 <option value="Otkazane"></option>
                             </datalist>
            <input type="submit" value="Filtriraj" size="6" />
        </p>         
    </form>
</div>
@*---------------------------------------------------------------*@
<table class="table-bordered" class="a">
    <caption class="a">Sve kupovine</caption>
    <tr>
        <th>ID karte</th>
        <th>Naziv manifestacije</th>
        <th>Mjesto odrzavanja</th>
        <th>Datum i vrijeme odrzavanja</th>
        <th>Cijena</th>
        <th>Kupac</th>
        <th>Status</th>
        <th>Tip</th>
        <th>Datum rezervisanja</th>
        <th></th>
        
    </tr>

    @foreach (Karta k in Model)
    {
    <tr>
        <td>@k.JedinstveniIdentifikatorKarte</td>
        <td>@k.Manifestacija.Naziv</td>
        <td>@k.Manifestacija.MjestoOdrzavanja</td>
        <td>@k.Manifestacija.DatumVrijemeOdrzavanja</td>
        <td>@k.Cijena</td>
        <td>@k.Kupac</td>
        <td>@k.Status</td>
        <td>@k.Tip</td>
        <td>@k.DatumVrijemeManifestacije</td>
        @if (k.Manifestacija.DatumVrijemeOdrzavanja >= DateTime.Now.AddDays(7) && k.Status == StatusKarta.Rezervisana)
        {
            <td>
                <form action="~/Kupac/OtkaziRezervaciju" method="post">
                    <input type="text" name="datumVrijemeOdrzavanja" value="@k.Manifestacija.DatumVrijemeOdrzavanja" hidden />
                    <input type="text" name="lokacija" value="@k.Manifestacija.Lokacija" hidden />
                    <input type="text" name="kartaId" value="@k.JedinstveniIdentifikatorKarte" hidden />
                    <input type="submit" value="Otkazi" size="6" />
                </form>
            </td>

        }
        @if (k.Manifestacija.DatumVrijemeOdrzavanja < DateTime.Now && k.Status == StatusKarta.Rezervisana)
        {
            <td>
                <form action="~/Kupac/OstaviKomentar">
                    <input type="text" name="lokacija" value="@k.Manifestacija.Lokacija" hidden />
                    <input type="text" name="datumVrijemeOdrzavanja" value="@k.Manifestacija.DatumVrijemeOdrzavanja" hidden />
                    <input type="submit" value="Ostavite komentar" size="6" />
                </form>
            </td>
        }

    </tr>
    }

</table>
