﻿@using Projekat.Models
@{
    ViewBag.Title = "DodajManifestaciju";
}

<style>
    div.a {
        color: red
    }

    input[type=number] {
        width: 111.8px
    }

    input[type=submit] {
        width: 100px;
        margin-left: 50px
    }

    div.b {
        margin-left: 28cm
    }
</style>

<br />
<div class="b">
    <form action="~/Prodavac/ListaManifestacija">
        <input type="submit" value="Vratite se nazad" size="6" />
    </form>
</div>
<br />

<form action="~/Prodavac/DodajManifestaciju" method="post" @*enctype="multipart/form-data"*@>
    <table>
        <tr>
            <td><b>Naziv:</b> </td>
            <td><input type="text" name="naziv" minlength="1" size="12" /></td>

        </tr>
        <tr>
            <td><b>Tip manifestacije:</b> </td>
            <td>
                <input list="tipManifestacije" name="tipManifestacije" size="12" />
            </td>
            <datalist id="tipManifestacije">
                <option value="Koncert"></option>
                <option value="Festival"></option>
                <option value="Pozoriste"></option>
            </datalist>
        </tr>
        <tr>
            <td><b>Broj mjesta:</b> </td>
            <td><input type="number" name="brojMjesta" size="12" min="1" max="500" /></td>

        </tr>
        <tr>
            <td><b>Datum i vrijeme odrzavanja:</b> </td>
            <td><input type="datetime" name="datumVrijemeOdrzavanja" /></td>

        </tr>


        <tr>
            <td><b>Cijena REGULAR karte: </b></td>
            <td><input type="number" name="cijenaRegularKarte" min="0" /></td>
        </tr>
        <tr>
            <td><b>Mjesto odrzavanja: </b></td>
            <td><input type="text" name="mjestoOdrzavanja" /></td>
        </tr>

        <tr>
            <td><b>Lokacija: </b></td>
            <td><input type="text" name="lokacija" /></td>
        </tr>
        <tr>
            <td colspan="3">
                <br />
                <input type="submit" value="Dodaj" />
            </td>
        </tr>
    </table>
</form>

<div class="a">@ViewBag.Message</div>

