﻿
@{
    ViewBag.Title = "IzmijeniManifestaciju";
}

<h2>IzmijeniManifestaciju</h2>

<style>
    div.a {
        color: red
    }
</style>

<br />
<div class="a">
        @ViewBag.Message
    </div>
<form action="IzmijeniManifestaciju" method="post"@* enctype="multipart/form-data"*@>

    <table>
        <tr>
            <td>Naziv: </td>
            <td><input type="text" name="naziv" minlength="3" size="15" value="@ViewBag.manifestacija.Naziv" /></td>
        </tr>
        <tr>
            <td>Tip manifestacija: </td>
            <td><input type="text" name="tipManifestacije" minlength="8" size="15" value="@ViewBag.manifestacija.TipManifestacije" /></td>
        </tr>
        <tr>
            <td>Broj mjesta: </td>
            <td><input type="number" name="brojMjesta" size="15" value="@ViewBag.manifestacija.BrojMjesta" /></td>
        </tr>
        <tr>
            <td>Datum i vrijeme odrzavanja: </td>
            <td><input type="datetime" name="datumVrijemeOdrzavanja" size="15" value="@ViewBag.manifestacija.DatumVrijemeOdrzavanja" /></td>
        <tr>
            <td>Cijena REGULAR karte: </td>
            <td><input type="number" name="cijenaRegularKarte" size="15" value="@ViewBag.manifestacija.CijenaRegularKarte" /></td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>
                <input list="status" name="stauts" size="15" readonly="readonly" value="@ViewBag.manifestacija.Status" />
            </td>
            <datalist id="status">
                <option value="Aktivno"></option>
                <option value="Neaktivno"></option>
            </datalist>
        </tr>
        <tr>
            <td>Mjesto odrzavanja: </td>
            <td><input type="text" name="mjestoOdrzavanja" size="15" value="@ViewBag.manifestacija.MjestoOdrzavanja" /></td>
        </tr>
        @*<tr>
            <td>Poster manifestacije: </td>
            <td></td>
        </tr>*@
        <tr>
            <td>Lokacija: </td>
            <td><input type="text" name="lokacija" minlength="3" size="15" value="@ViewBag.manifestacija.Lokacija" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <br />
                <input type="submit" value="Izmijeni" size="15" />
                <input type="text" name="lokacija" size="15" value="@ViewBag.stara.Lokacija" hidden />
                <input type="text" name="datumVrijeme" size="15" value="@ViewBag.stara.DatumVrijemeOdrzavanja" hidden />
            </td>
        </tr>

    </table>

</form>
