﻿@using Projekat.Models
@{
    ViewBag.Title = "Komentari";
}


<style>
    caption {
        text-align: center;
        font-size: x-large
    }


    div.a {
        color: red
    }


    div.pretraga {
        display: inline-block;
        margin-left: 25cm
    }

    div.pr {
        display: inline-block;
        float: right
    }
</style>
<br />

<div class="pr">
    <form action="~/Prodavac/ListaManifestacija">
        <input type="submit" value="Vratite se nazad" />

    </form>
</div>

<table class="table table-hover">
    <caption>Komentari</caption>

    <thead>
        <tr>
            <th>Kupac</th>
            <th>Naziv manifestacije</th>
            <th>Mjesto odrzavanja</th>
            <th>Datum i vrijeme odrzavanja</th>
            <th>Komentar</th>
            <th>Ocjena</th>
            <th>Status</th>
            <th>  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Komentar k in Model)
        {
            <tr>
                <td>@k.KupacKarte</td>
                <td>@k.ManifestacijaKomentar.Naziv</td>
                <td>@k.ManifestacijaKomentar.MjestoOdrzavanja</td>
                <td>@k.ManifestacijaKomentar.DatumVrijemeOdrzavanja</td>
                <td>@k.TekstKomentara</td>
                <td>@k.Ocjena</td>
                <td>@k.Status</td>
                @if (k.Status == StatusTip.Neaktivno)
                {
                <td>
                    <form action="~/Prodavac/PromjeniStatus">
                        <input type="number" value="@k.IdKomentara" name="id" hidden />
                        <input type="submit" value="Odobri komentar" size="6" />
                    </form>
                </td>

                }
            </tr>
        }
    </tbody>
</table>
