﻿@using Projekat.Models
@{
    ViewBag.Title = "ListaRezervisanihKarata";
}



<style>
    caption {
        text-align: center;
        font-size: x-large
    }


    div.a {
        color: red
    }


    div.pretraga {
        display: inline-block;
        margin-left: 25cm
    }

    div.pr {
        display: inline-block;
        float: right
    }
</style>
<br />



<div class="pr">
    <form action="~/Prodavac/ListaManifestacija">
        <input type="submit" value="Vratite se nazad" />

    </form>
</div>

<table class="table table-hover">
    <caption>Lista rezervisanih karata</caption>

    <thead>
        <tr>
            <th>ID karte</th>
            <th>Naziv manifestacije</th>
            <th>Datum odrzavanja</th>
            <th>Kupac</th>
            <th>Cijena karte</th>
            <th>Tip</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (Karta k in Model)
        {
        <tr>
            <td>@k.JedinstveniIdentifikatorKarte</td>
            <td>@k.Manifestacija.Naziv</td>
            <td>@k.Manifestacija.DatumVrijemeOdrzavanja</td>
            <td>@k.Kupac</td>
            <td>@k.Cijena</td>
            <td>@k.Tip</td>           


        </tr>
        }
    </tbody>
</table>
