﻿
@using Projekat.Models
@{
    ViewBag.Title = "Detalji";
}


@try
{<h2 align="center">@ViewBag.manifestacija.Naziv - @ViewBag.manifestacija.MjestoOdrzavanja</h2>}
catch { }
<style>
    div.a {
        color: red
    }

    form.a {
        margin-left: 28cm
    }

    input[type=submit] {
        width: 100px;
    }
</style>

<br />
<form action="~/Kupac/Index" class="a">
    <input type="submit" value="Vratite se nazad" size="6" />
</form>





<table class="table table-hover" border="1">
    <caption>Manifestacija</caption>

    <thead>
        <tr>
            <th>Naziv</th>
            <th>Tip manifestacije</th>
            <th>Broj mjesta</th>
            <th>Preostali broj karata</th>
            <th>Datum i vrijeme odrzavanja</th>
            <th>Cijena REGULAR karte</th>
            <th>Cijena VIP karte</th>
            <th>Cijena FAN PIT karte</th>
            <th>Mjesto odrzavanja</th>
            <th>Status</th>
            <th>Poster manifestacije</th>
            <th>Ocjena</th>
            <th>Komentari</th>

        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td>@ViewBag.manifestacija.Naziv</td>
            <td>@ViewBag.manifestacija.TipManifestacije</td>
            <td>@ViewBag.manifestacija.BrojMjesta</td>
            <td>@(ViewBag.manifestacija.BrojMjesta - ViewBag.manifestacija.BrojRezervisanihKarata)</td>
            <td>@ViewBag.manifestacija.DatumVrijemeOdrzavanja</td>
            <td>@ViewBag.manifestacija.CijenaRegularKarte</td>
            <td>@(ViewBag.manifestacija.CijenaRegularKarte * 4)</td>
            <td>@(ViewBag.manifestacija.CijenaRegularKarte * 2)</td>
            <td>@(ViewBag.manifestacija.MjestoOdrzavanja + ", " + ViewBag.manifestacija.Lokacija)  </td>
            <td>@ViewBag.manifestacija.Status</td>
            <td></td>
            @if (ViewBag.manifestacija.DatumVrijemeOdrzavanja < DateTime.Now)
            {
                <td>@ViewBag.manifestacija.Ocjena</td>
                <td>
                    <form action="~/Kupac/ListaKomentara" method="post">
                        <input type="text" name="lokacija" value="@ViewBag.manifestacija.Lokacija" hidden />
                        <input type="text" name="datumVrijemeOdrzavanja" value="@ViewBag.manifestacija.DatumVrijemeOdrzavanja" hidden />
                        <input type="submit" value="Pogledajte" size="6" />
                    </form>
                </td>


            }
            else
            {
                <td></td>
                <td></td>
            }
        </tr>
        
    </tbody>
</table>








@if(ViewBag.manifestacija.DatumVrijemeOdrzavanja >= DateTime.Now) { 
<form action="~/Kupac/RezervisiKartu" method="post">

    <input type="text" name="datumVrijemeOdrzavanja" value="@ViewBag.manifestacija.DatumVrijemeOdrzavanja" hidden />
    <input type="text" name="lokacija" value="@ViewBag.manifestacija.Lokacija" hidden />

    <table>
        <tr>
            <td><b>Unesite broj karata: </b></td>
            <td><input type="number" name="brojKarata" min="1" size="10" required /></td>
        </tr>

        <tr>
            <td><b>Tip karte: </b></td>
            <td>
                <input list="tip" name="tip" size="15" type="text" required />
            </td>
            <datalist id="tip">
                <option value="VIP"></option>
                <option value="REGULAR"></option>
                <option value="FAN_PIT"></option>
            </datalist>
        </tr>
    </table>
    <br />



    <input type="submit" value="Rezervisi" size="6" />

</form>

}
<div class="a">
    @ViewBag.Message
</div>
