﻿@using Projekat.Models
@{
    ViewBag.Title = "Index";
}


<style>
    table {
        width: 100%;
        border: 1px solid black;
        text-align: center;
        empty-cells: show
    }

    th, td {
        text-align: center;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #EBEDF0;
    }

    caption.a {
        text-align: center;
        font-size: x-large
    }

    div.pretraga {
        display: inline-block;
    }

    div.pretraga1 {
        display: inline-block;
        float: right
    }

    div.pr {
        display: inline-block;
        float: right
    }

    th, td {
        padding: 5px;
        text-align: center;
        border: ridge
    }

    table {
        width: 70%;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        border: ridge
    }
</style>
<br />
<div class="pr">
    <form action="~/Kupac/Profil">
        <input type="submit" value="Profil" />

    </form>
</div>
<div class="pr">
    <form action="~/Korpa/Index">
        <input type="submit" value="Kupovine" />

    </form>
</div>

<div class="pretrega">
    <p><h2>Dobrodosli, @ViewBag.Korisnik.KorisnickoIme</h2></p>
</div>

<form action="~/Home/PretragaManifestacija" method="post">
    <br />
    <table class="filter">
        <tr>
            <td>
                Naziv manifestacije:
                <input type="text" name="nazivManifestacije" />
            </td>
            <td>
                Mjesto odrzavanja:
                <input type="text" name="mjestoOdrzavanja" />
            </td>
            <td>
                Od:
                <input type="date" name="minDatum" />
            </td>
            <td>
                Do:
                <input type="date" name="maxDatum" />
            </td>
            <td>
                Lokacija:
                <input type="text" name="lokacija" />
            </td>
            <td>
                Od:
                <input type="number" name="minCijena" />
            </td>
            <td>
                Do:
                <input type="number" name="maxCijena" />
            </td>

            <td colspan="2">
                <input type="submit" value="Pretraga" />
            </td>
        </tr>
    </table>
</form>
<form action="~/Home/Filtriranje">
    <p align="left">
        Filtrirajte po :  <input list="filter" name="filter" required size="6" />
        <datalist id="filter">
            <option value="Koncert"></option>
            <option value="Festival"></option>
            <option value="Pozoriste"></option>
            <option value="Nerasprodato"></option>
        </datalist>
        <input type="submit" value="Filtriraj" size="6" />
    </p>
</form>
<div style="display:inline-block; float:right">
    <form action="~/Home/Sortiranje">
        <p align="right">
            Sortiraj po:
            <input list="sortiranje" name="sortiranje" required size="6" />
            <datalist id="sortiranje">
                <option value="Naziv_manifestacije"></option>
                <option value="Datum_vrijeme_odrzavanja"></option>
                <option value="Mjesto_odrzavanja"></option>
                <option value="Cijena_karte"></option>
            </datalist>

            <input list="nacin" name="nacin" size="6" required />
            <datalist id="nacin">
                <option value="Opadajuce"></option>
                <option value="Rastuce"></option>
            </datalist>

            <input type="submit" value="Sortiraj" size="6" />
        </p>
    </form>
</div>
<br />
<form action="~/Kupac/Index">
    <input type="submit" value="Ponisti akciju" size="10" />
</form>
<table class="table-bordered">
    <caption class="a">Manifestacije</caption>

    <tr>
        <th>Naziv</th>
        <th>Tip manifestacije</th>
        @* <th>Broj mjesta</th>*@
        <th>Datum i vrijeme odrzavanja</th>
        <th>Cijena regular karte</th>
        @*<th>Status</th>*@
        <th>Mjesto odrzavanja</th>
        <th>Poster manifestacije</th>
        <th>Prosjecna ocjena</th>
        <th>Lokacija</th>
        <th></th>
        @* <th>Komentari</th>*@
        

    </tr>
    </thead>
    <tbody>
        @foreach (Manifestacija m in Model)
        {
            <tr>
                <td>@m.Naziv</td>
                <td>@m.TipManifestacije</td>
                @*  <td>@m.BrojMjesta</td>*@
                <td>@m.DatumVrijemeOdrzavanja</td>
                <td>@m.CijenaRegularKarte</td>
                @* <td>@m.Status</td>*@
                <td>@m.MjestoOdrzavanja</td>
                <td></td>
                @if (m.DatumVrijemeOdrzavanja < DateTime.Now)
                {
                <td>@m.Ocjena</td>
                }
                else
                {
                    <td>-</td>
                }
                <td> @m.Lokacija </td>
                <td>
                    <form action="~/Kupac/PregledManifestacije" method="post">
                        <input type="text" name="datumVrijemeOdrzavanja" value="@m.DatumVrijemeOdrzavanja" hidden />
                        <input type="text" name="lokacija" value="@m.Lokacija" hidden />
                        <input type="submit" value="Detalji" size="6" />
                    </form>
                </td>
                @*   @if (m.DatumVrijemeOdrzavanja < DateTime.Now)
                    {
                        <td>
                            <form action="~/Kupac/ListaKomentara" method="post">
                                <input type="text" name="mjestoOdrzavanja" value="@m.MjestoOdrzavanja" hidden />
                                <input type="text" name="datumVrijemeOdrzavanja" value="@m.DatumVrijemeOdrzavanja" hidden />
                                <input type="submit" value="Pogledajte komentare" size="6" />
                            </form>
                        </td>


                    }*@


            </tr>
        }




</table>

