﻿@using Projekat.Models
@{
    ViewBag.Title = "Komentar";
}

<h2>Manifestacija @ViewBag.manifestacija.Naziv - @ViewBag.manifestacija.MjestoOdrzavanja </h2>
<style>

    div.pr {
        display: inline-block;
        float: right
    }
</style>

<br />

<div class="pr">
    <form action="~/Korpa/Index">
        <input type="submit" value="Vratite se nazad" />
    </form>
</div>

<form action="~/Kupac/OstaviKomentar" method="post">

    <input type="text" name="lokacija" value="@ViewBag.manifestacija.Lokacija" hidden />
    <input type="text" name="datumVrijemeOdrzavanja" value="@ViewBag.manifestacija.DatumVrijemeOdrzavanja" hidden />

    <b>Komentar:</b> <input name="komentar" type="text" />
    <b>Ocjena:</b> <input type="number" name="ocjena" min="1" max="5" required />
    <input type="submit" value="Dodaj komentar" size="6" />

</form>
