﻿@using Projekat.Models
@{
    ViewBag.Title = "ListaKomentara";
}

<h2>Komentari</h2>
<style>
    table {
        width: 100%;
        border: 1px solid black;
        text-align: center;
        empty-cells: show
    }

    th, td {
        text-align: center;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #EBEDF0;
    }

    caption.a {
        text-align: center;
        font-size: x-large
    }

    div.pr {
        display: inline-block;
        float: right
    }
</style>
<br />
@*
    <div class="pr">
            <form action="~/Kupac/Detalji" method="post">
                <input type="submit" value="Vratite se nazad"  size="8"/>

            </form>
        </div>
*@
<table class="table-bordered">

    <thead>
        <tr>
            <th>Korisnik</th>
            <th>Komentar</th>
            <th>Ocjena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Komentar k in Model)
        {
            <tr>
                <td>@k.KupacKarte</td>
                <td>@k.TekstKomentara</td>
                <td>@k.Ocjena</td>

            </tr>
        }




</table>

