﻿@using Projekat.Models
@{
    ViewBag.Title = "PotvrdaRezervacije";
}

<h2>PotvrdaRezervacije</h2>


<style>
    table {
        width: 40%;
        border: 1px solid black;
        text-align: center;
        empty-cells: show
    }
</style>

<table class="table-bordered">

    <tr>
        <th> Broj karata </th>
        <th> Ukupan iznos </th>

    </tr>
    <tr>
        <td>@ViewBag.karte</td>
        <td>@ViewBag.iznos</td>


    </tr>

    <td colspan="2">
        <form action="~/Kupac/PotvrdaRezervacije" method="post">
            <input type="text" name="korisnickoIme" value="@ViewBag.korisnik.KorisnickoIme" hidden />
            <input type="number" name="ukuprnoKarata" value="@ViewBag.karte" hidden />
            <input type="text" name="tip" value="@ViewBag.tip" hidden />
            <input type="text" name="datumVrijemeOdrzavanja" value="@ViewBag.manifestacija.DatumVrijemeOdrzavanja" hidden />
            <input type="text" name="lokacija" value="@ViewBag.manifestacija.Lokacija" hidden />
            <input type="number" name="iznos" value="@ViewBag.iznos" hidden />
            <input type="submit" value="Potvrda rezervacije" size="6" />
        </form>
    </td>

</table>