﻿@using Projekat.Models
@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>


<style>
    div.a {
        color: red
    }

    div.pr {
        display: inline-block;
        float: right
    }
</style>

<br />

<div class="pr">
    <form action="~/Kupac/Index">
        <input type="submit" value="Vratite se nazad" />
    </form>
</div>

<br />
<form action="Profil" method="post">

    <table>
        <tr>
            <td><b>Korisnicko ime:</b> </td>
            <td><input type="text" readonly="readonly" name="korisnickoIme" minlength="3" size="15" value="@Model.KorisnickoIme" /></td>
        </tr>
        <tr>
            <td><b>Lozinka:</b> </td>
            <td><input type="text" name="lozinka" minlength="8" size="15" value="@Model.Lozinka" /></td>
        </tr>
        <tr>
            <td><b>Ime: </b></td>
            <td><input type="text" name="ime" size="15" value="@Model.Ime" /></td>
        </tr>
        <tr>
            <td><b>Prezime:</b> </td>
            <td><input type="text" name="prezime" size="15" value="@Model.Prezime" /></td>
        </tr>
        <tr>
            <td><b>Pol: </b></td>
            <td>
                <input list="polovi" name="pol" size="15" value="@Model.Pol" />
            </td>
            <datalist id="polovi">
                <option value="Muski"></option>
                <option value="Zenski"></option>
            </datalist>
        </tr>
        <tr>
            <td><b>Datum rodjenja:</b> </td>
            <td><input type="datetime" name="datumRodjenja" size="14" value="@Model.DatumRodjenja" /></td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <br />
                <input type="submit" value="Izmijeni" size="15" />
            </td>
        </tr>
    </table>

</form>
<br />
<div class="a">@ViewBag.poruka</div>

