﻿@using Projekat.Models
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<style>
    caption {
        text-align: center;
        font-size: x-large
    }


    div.a {
        color: red
    }


    div.pretraga {
        display: inline-block;
        margin-left: 25cm
    }

    div.pr {
        display: inline-block;
        float: right
    }
</style>
<br />

@*<form action="~/Administrator/Index">
        <input type="submit" value="Povratak" size="6" />
    </form>*@


<div class="pr">
    <form action="~/Administrator/NoviProdavac">
        <input type="submit" value="Dodaj prodavca" />

    </form>
</div>


@*---------Modifikacija---------------------*@
<div class="pr">
    <form action="~/Administrator/Modifikacija">
        <input type="submit" value="Profil" />

    </form>
</div>


<div class="pr">
    <form action="~/Administrator/ListaSvihManfestacija">
        <input type="submit" value="Manifestacije" />

    </form>
</div>
@*---------Sortiranje---------------------*@
<br />
<form action="/Administrator/Sortiranje">
    <p align="left">
        Sortiraj po

        <input list="sortiranje" name="sortiranje" size="6" required />
        <datalist id="sortiranje">
            <option value="Ime"></option>
            <option value="Prezime"></option>
            <option value="KorisnickoIme"></option>
            <option value="BrojBodova"></option>
        </datalist>

        Nacin sortiranja

        <input list="nacin" name="nacin" size="6" required />
        <datalist id="nacin">
            <option value="Opadajuce"></option>
            <option value="Rastuce"></option>
        </datalist>


        <input type="submit" value="Sortiraj" />
    </p>

</form>

@*----------------------Pretraga-------------------*@
<div>
    <form action="/Administrator/Pretraga">
        <p align="left">
            <caption>Pretraga</caption>
            <input list="pretraga" name="pretraga" required size="6" />
            <datalist id="pretraga">
                <option value="Ime"></option>
                <option value="Prezime"></option>
                <option value="KorisnickoIme"></option>
            </datalist>
            <caption>Vrijednost</caption>
            <input type="text" name="vrijednost" required size="6" />
            <input type="submit" value="Pretrazi" size="6" />
        </p>
    </form>
</div>
@*---------------------------------------------------------------*@

@*----------------------Filtriranje-------------------*@
<div>
    <form action="/Administrator/Filtriranje">

        <p align="left">
            Filtrirajte po : <input list="filter" name="filter" required size="6" />
            <datalist id="filter">
                <option value="Kupac"></option>
                <option value="Prodavac"></option>
                <option value="Bronzani"></option>
                <option value="Srebrni"></option>
                <option value="Zlatni"></option>
            </datalist>
            <input type="submit" value="Filtriraj" size="6" />
        </p>
        @*  <caption>Filter</caption>
            <input list="filter" name="filter" required size="6" />
            <datalist id="filter">
                <option value="Uloga"></option>
                <option value="TipKorisnika"></option>
            </datalist>
            <caption>Vrijednost</caption>
            <input list="vrijednost" name="vrijednost" size="6" required />
            <datalist id="vrijednost">
                <option value="Kupac"></option>
                <option value="Prodavac"></option>
                <option value="Bronzani"></option>
                <option value="Srebrni"></option>
                <option value="Zlatni"></option>
            </datalist>
            <input type="submit" value="Filtriraj" size="6" />*@
    </form>
</div>
@*---------------------------------------------------------------*@
<form action="~/Administrator/Index">
    <input type="submit" value="Ponisti akciju" size="10" />
</form>
<br />
<table class="table table-hover">
    <caption>Lista korisnika</caption>

    <thead>
        <tr>
            <th>Korisnicko ime</th>
            <th>Lozinka</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Datum rodjenja</th>
            <th>Uloga</th>
            <th>Tip korisnika</th>
            <th>Broj bodova</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Korisnik k in Model)
        {
        <tr>
            <td>@k.KorisnickoIme</td>
            <td>@k.Lozinka</td>
            <td>@k.Ime</td>
            <td>@k.Prezime</td>
            <td>@k.DatumRodjenja</td>
            <td>@k.Uloga</td>
            <td>@k.TipKorisnika.ImeTipa</td>
            <td>
                @if (k.Uloga == UlogaTip.Kupac)
                {
                    @k.BrojSakupljenihBodova

                }
            </td>
                <td>
                    <form action="~/Administrator/BrisanjeKorisnika" method="post">
                        <input type="submit" value="Obrisite" />
                        <input type="text" value="@k.KorisnickoIme" name="korisnickoIme" hidden />
                    </form>
                </td>


            </tr>
        }
    </tbody>
</table>
