﻿@using Projekat.Models
@{
    ViewBag.Title = "ListaSvihKomentara";
}



<style>
    caption {
        text-align: center;
        font-size: x-large
    }


    div.pr {
        display: inline-block;
        float: right
    }
</style>
<br />

<div class="pr">
    <form action="~/Administrator/ListaSvihManfestacija">
        <input type="submit" value="Vratite se nazad" />

    </form>
</div>
<br />
<br />
<table class="table table-hover">
    <caption>Komentari</caption>

    <thead>
        <tr>
            <th>Korisnik</th>
            @* <th>Naziv manifestacije</th>
        <th>Mjesto odrzavanja</th>
        <th>Datum i vrijeme odrzavanja</th>*@
            <th>Komentar</th>
            <th>Ocjena</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Komentar k in Model)
        {
        <tr>
            <td>@k.KupacKarte</td>
            @* <td>@k.ManifestacijaKomentar.Naziv</td>
        <td>@k.ManifestacijaKomentar.MjestoOdrzavanja</td>
        <td>@k.ManifestacijaKomentar.DatumVrijemeOdrzavanja</td>*@
            <td>@k.TekstKomentara</td>
            <td>@k.Ocjena</td>
            <td>@k.Status</td>
        </tr>
        }
    </tbody>
</table>
