﻿@using Projekat.Models
@{
    ViewBag.Title = "ListaSvihManfestacija";
}

<style>
    caption {
        text-align: center;
        font-size: x-large
    }


    div.a {
        color: red
    }


    div.pretraga {
        display: inline-block;
        margin-left: 25cm
    }

    div.pr {
        display: inline-block;
        float: right
    }
    th, td {
        padding: 5px;
        text-align: center;
        border: ridge
    }

    table {
        width: 70%;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        border: ridge
    }
</style>
<br />
<div class="pr">
    <form action="~/Administrator/Index">
        <input type="submit" value="Vratite se nazad" />

    </form>
</div>
<br />
<form action="~/Home/PretragaManifestacija" method="post">
    <br />
    <table class="filter">
        <tr>
            <td>
                Naziv manifestacije:
                <input type="text" name="nazivManifestacije" />
            </td>
            <td>
                Mjesto odrzavanja:<br />
                <input type="text" name="mjestoOdrzavanja" />
            </td>
            <td>
                Od:
                <input type="date" name="minDatum" />
            </td>
            <td>
                Do:
                <input type="date" name="maxDatum" />
            </td>
            <td>
                Lokacija:
                <input type="text" name="lokacija" />
            </td>
            <td>
                Od:
                <input type="number" name="minCijena" />
            </td>
            <td>
                Do:
                <input type="number" name="maxCijena" />
            </td>
            <td colspan="2">
                <input type="submit" value="Pretraga" />
            </td>
        </tr>
    </table>
</form>
<form action="~/Home/Filtriranje">
    <p align="left">
        Filtrirajte po : <input list="filter" name="filter" required size="6" />
        <datalist id="filter">
            <option value="Koncert"></option>
            <option value="Festival"></option>
            <option value="Pozoriste"></option>
            <option value="Nerasprodato"></option>
        </datalist>
        <input type="submit" value="Filtriraj" size="6" />
    </p>
</form>
<div style="display:inline-block; float:right">
    <form action="~/Home/Sortiranje">
        <p align="right">
            Sortiraj po:
            <input list="sortiranje" name="sortiranje" required size="6" />
            <datalist id="sortiranje">
                <option value="Naziv_manifestacije"></option>
                <option value="Datum_vrijeme_odrzavanja"></option>
                <option value="Mjesto_odrzavanja"></option>
                <option value="Cijena_karte"></option>
            </datalist>

            <input list="nacin" name="nacin" size="6" required />
            <datalist id="nacin">
                <option value="Opadajuce"></option>
                <option value="Rastuce"></option>
            </datalist>

            <input type="submit" value="Sortiraj" size="6" />
        </p>
    </form>
</div>
<br />
<form action="~/Administrator/ListaSvihManfestacija">
    <input type="submit" value="Ponisti akciju" size="10" />
</form>
<br />
<br />

@*---------------------------------------Manifestacije------------------------------------------------*@
<table class="table table-hover">
    <caption>Manifestacija</caption>

    <thead>
        <tr>
            <th>Naziv</th>
            <th>Tip manifestacije</th>
            <th>Broj mjesta</th>
            <th>Broj preostalih mjesta</th>
            <th>Datum i vrijeme odrzavanja</th>
            <th>Cijena regular karte</th>
            <th>Status</th>
            <th>Mjesto odrzavanja</th>
            <th>Lokacija</th>
            <th>Poster manifestacije</th>
            <th>Promjena statusa</th>
            <th>Komentari</th>
            <th>Sve karte</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Manifestacija m in ViewBag.manifestacije)
        {
        <tr>
            <td>@m.Naziv</td>
            <td>@m.TipManifestacije</td>
            <td>@m.BrojMjesta</td>
            <td>@(m.BrojMjesta - m.BrojRezervisanihKarata)</td>
            <td>@m.DatumVrijemeOdrzavanja</td>
            <td>@m.CijenaRegularKarte</td>
            <td>@m.Status</td>
            <td>@m.MjestoOdrzavanja</td>
            <td>@m.Lokacija</td>
            <td></td>

            @if (m.Status != StatusTip.Aktivno && m.DatumVrijemeOdrzavanja > DateTime.Now)
            {
                <td>
                    <form action="~/Administrator/PromjeniStatus">
                        <input type="text" name="lokacija" value="@m.Lokacija" hidden />
                        <input type="text" name="datumVrijemeOdrzavanja" value="@m.DatumVrijemeOdrzavanja" hidden />
                        <input type="submit" value="Promjenite status" size="6" />
                    </form>
                </td>
            }
            else if (m.DatumVrijemeOdrzavanja <= DateTime.Now && m.Status != StatusTip.Aktivno)
            {
                <td>Prosao datum odrzavanja.</td>
            }
            else
            {
                <td></td>
            }
            <td>
                @if (m.DatumVrijemeOdrzavanja < DateTime.Now && m.Status == StatusTip.Aktivno)
                {

                    <form action="~/Administrator/ListaKomentara">
                        <input type="text" name="lokacija" value="@m.Lokacija" hidden />
                        <input type="text" name="datumVrijemeOdrzavanja" value="@m.DatumVrijemeOdrzavanja" hidden />
                        <input type="submit" value="Pogledajte" />

                    </form>

                }
            </td>
            <td>
                <form action="~/Administrator/ListaSvihKarata">
                    <input type="text" name="lokacija" value="@m.Lokacija" hidden />
                    <input type="text" name="datumVrijemeOdrzavanja" value="@m.DatumVrijemeOdrzavanja" hidden />
                    <input type="submit" value="Karte" />

                </form>
            </td>
            <td>
                <form action="~/Administrator/BrisanjeManifestacije" method="post">
                    <input type="submit" value="Obrisite" />
                    <input type="text" name="lokacija" value="@m.Lokacija" hidden />
                    <input type="text" name="datumVrijemeOdrzavanja" value="@m.DatumVrijemeOdrzavanja" hidden />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<hr />
