﻿@using Projekat.Models
@{
    ViewBag.Title = "NoviProdavac";
}



<style>
    div.a {
        color: red
    }

    input[type=number] {
        width: 111.8px
    }

    input[type=submit] {
        width: 100px;
        margin-left: 50px
    }

    form.a {
        margin-left: 28cm
    }
</style>

<br />
<form action="~/Administrator/Index" class="a">
    <input type="submit" value="Vratite se nazad" size="6" />
</form>

<form action="~/Administrator/NoviProdavac" method="post">
    <table>
        <tr>
            <td><b>Korisnicko ime:</b> </td>
            <td><input type="text" name="korisnickoIme" minlength="3" size="12" /></td>
            <div class="a">@ViewBag.MessageKIme</div>
        </tr>
        <tr>
            <td><b>Lozinka:</b> </td>
            <td><input type="password" name="lozinka" minlength="8" /></td>
           
        </tr>
        <tr>
            <td><b>Ime:</b> </td>
            <td><input type="text" name="ime" size="12" minlength="3" maxlength="17" /></td>
            <div class="a">@ViewBag.Message1</div>
        </tr>
        <tr>
            <td><b>Prezime:</b> </td>
            <td><input type="text" name="prezime" minlength="3" maxlength="17" /></td>
            <div class="a">@ViewBag.Message2</div>
        </tr>
      
        <tr>
            <td><b>Pol:</b></td>
            <td>
                <input list="polTip" name="pol" size="12" /><div class="a">@ViewBag.Pol</div>
            </td>
            <datalist id="pol">
                <option value="Muski"></option>
                <option value="Zenski"></option>
               
            </datalist>
        </tr>
        <tr>
            <td><b>Datum rodjenja: </b></td>
            <td><input type="date" name="datumRodjenja" /></td>
        </tr>
        
        <tr>
            <td colspan="3">
                <br />
                <input type="submit" value="Dodaj" />
            </td>
        </tr>
    </table>
</form>

<div class="a">@ViewBag.Message</div>