﻿@using Projekat.Models
@{
    ViewBag.Title = "Home Page";
}


<style>
    div.a {
        color: red
    }

    td {
        border: ridge;
        text-align: center;
        padding: 4px;
    }

    th {
        border: ridge;
        padding: 4px;
        background-color: gainsboro;
        text-align: center;
    }

    input[type=number] {
        width: 80px
    }

    tr:nth-child(even) {
        background-color: #EBEDF0;
    }

    div.pretraga {
        display: inline-block;
    }

    div.pretraga1 {
        display: inline-block;
        float: right
    }

    caption {
        font-size: 30px;
        display: table-caption;
        text-align: center;
    }


    table {
        border-collapse: collapse;
        margin-left: auto;
        width: 70%;
        border: ridge;
        margin-right: auto;
    }
</style>
<form action="~/Home/PretragaManifestacija" method="post">
    <br />
    <table class="filter">
        <tr>
            <td>
                Naziv manifestacije:
                <input type="text" name="nazivManifestacije" />
            </td>
            <td>
                Mjesto odrzavanja:
                <input type="text" name="mjestoOdrzavanja" />
            </td>
            <td>
                Od:
                <input type="date" name="minDatum" />
            </td>
            <td>
                Do:
                <input type="date" name="maxDatum" />
            </td>
            <td>
                Lokacija:
                <input type="text" name="lokacija" />
            </td>
            <td>
                Od:
                <input type="number" name="minCijena" />
            </td>
            <td>
                Do:
                <input type="number" name="maxCijena" />
            </td>

            <td colspan="2">
                <input type="submit" value="Pretraga" />
            </td>
        </tr>
    </table>
</form>

<form action="~/Home/Filtriranje">
    <p align="left">
        Filter: <input list="filter" name="filter" required size="6" />
                         <datalist id="filter">
                             <option value="Nerasprodato"></option>
                             <option value="Koncert"></option>
                             <option value="Festival"></option>
                             <option value="Pozoriste"></option>
                         </datalist>    
        <input type="submit" value="Filtriraj" size="6" />
    </p>
</form>
<div style="display:inline-block; float:right">
    <form action="~/Home/Sortiranje">
        <p align="right">
            Sortiraj po:
            <input list="sortiranje" name="sortiranje" required size="6" />
            <datalist id="sortiranje">
                <option value="Naziv_manifestacije"></option>
                <option value="Datum_vrijeme_odrzavanja"></option>
                <option value="Cijena_karte"></option>
                <option value="Mjesto_odrzavanja"></option>
            </datalist>

            <input list="nacin" name="nacin" size="6" required />
            <datalist id="nacin">
                <option value="Opadajuce"></option>
                <option value="Rastuce"></option>
            </datalist>

            <input type="submit" value="Sortiraj" size="6" />
        </p>
    </form>
</div>
<form action="~/Home/PonistiAkciju">
    <input type="submit" value="Ponisti akciju" size="10" />
</form>

<table class="table table-hover">
    <caption>Manifestacije</caption>

    <thead>
        <tr>
            <th>Naziv</th>
            <th>Tip manifestacije</th>
            <th>Broj mjesta</th>
            <th>Datum i vrijeme odrzavanja</th>
            <th>Mjesto odrzavanja</th>
            <th>Cijena REGULAR karte</th>
            <th>Status</th>
            <th>Lokacija</th>
            <th>Posjecna ocjena</th>
            <th>Poster manifestacije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Manifestacija m in Model)
        {
        <tr>
            <td>@m.Naziv</td>
            <td>@m.TipManifestacije</td>
            <td>@m.BrojMjesta</td>
            <td>@m.DatumVrijemeOdrzavanja</td>
            <td>@m.MjestoOdrzavanja</td>
            <td>@m.CijenaRegularKarte</td>
            <td>@m.Status</td>
            <td>@m.Lokacija</td>
            @if (m.DatumVrijemeOdrzavanja < DateTime.Now)
            {

                <td>@m.Ocjena</td>
            }
            else
            {
                <td>-</td>
            }
            <td></td>
        </tr>
        }
    </tbody>



</table>
